<%- layout("/layouts/boilerplate")%>
<body>
    <h1>Internship</h1>
    <br>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
        <% for(let i=0 ; i<internships.length;i++ ) {%>
        <div class="card col intern-card" style="width: 20rem;">
           <div class="card-body">
                <div class="internship-text">
                    <h5 class="card-title"><%= internships[i].title %></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary"><%=list[i].companyname%></h6>
                    <p class="card-text"><%=internships[i].location%></p>
                    <p class="card-text"><%=internships[i].stipend%>/month</p>
                </div>
                <div class="border-top pt-3 indexcard-link">
                    <a href="/student/internship/<%=internships[i]._id%>" class="btn btn-primary">details</a>
                        <form method="post" action="/student/internship/<%=internships[i]._id%>">
                            <button class="btn btn-outline-primary mx-2">Apply</button>
                        </form>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</body>