<%- layout("/layouts/boilerplate")%>
<body>
    <div class="row">
        <div class="card col-6 offset-3 intern-card">
           <div class="card-body">
                <div >
                    <h5 class="card-title"><b><%= job.title %></b></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary"><%= job.jobType%></h6>
                    <h6><b>location:</b></h6>
                    <p class="card-text"><%=job.location%></p>
                    <h6><b>Salary:</b></h6>
                    <p class="card-text"><%=job.salaryRange.min%>-<%=job.salaryRange.max%>/month</p>
                    <h6><b>description:</b></h6>
                    <p class="card-text"><%=job.description%></p>
                    <h6><b>requirement:</b></h6>
                    <p class="card-text"><%=job.requirement%></p>
                    <h6><b>Number of opening:</b></h6>
                    <p class="card-text"><%=job.openings%></p>
                </div>
                <div class="border-top pt-3 card-link">
                    <form method="post" action="/company/job/<%=job._id%>?_method=Delete">
                        <button class="btn btn-primary mx-3">Delete</button>
                    </form>
                    <form method="get" action="/company/job/<%=job._id%>/edit">
                        <button class="btn btn-primary mx-3">Edit</button>
                    </form>
                     <form method="get" action="/company/job/application/<%=job._id%>">
                        <button class="btn btn-primary mx-3">Application</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>