<%- layout("/layouts/boilerplate")%>
<div class="row mt-3 ">
    <h2 class="col-6 offset-3"><b>Edit Job</b></h2>
    <div class="col-6 offset-3">
        <form method="post" action="/company/job/<%=job.id%>?_method=PUT" novalidate class="needs-validation mb-10">
                <div class="mb-3"> 
                    <label for="title" class="form-label"><b>Title:</b></label>
                    <input id="title" name="list[title]" placeholder="title" type="text" class="form-control" value="<%=job.title%>" required>
                    <div class="valid-feedback">username is valid!</div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label"><b>Location:</b></label>
                    <input id="location" name="list[location]" placeholder="location"  type="text" class="form-control" value="<%=job.location%>"  required>
                </div>
                <div class="mb-3">
                        <label for="jobtype" class="form-label"><b>Job-type:</b></label>
                        <input id="jobtype" name="list[jobType]" placeholder="Full-time/Part-time/Contract"  type="text" class="form-control" value="<%=job.jobType%>"  required>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label for="salarymin" class="form-label"><b>SalaryMin:</b></label>
                        <input id="salarymin" name="list[salaryRange][min]" placeholder="min"  type="number" class="form-control" value="<%=job.salaryRange.min%>" required>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="salarymax" class="form-label"><b>SalaryMax:</b></label>
                        <input id="salarymax" name="list[salaryRange][max]" placeholder="max"  type="number" class="form-control" value="<%=job.salaryRange.max%>" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label"><b>Description:</b></label>
                    <textarea id="description" name="list[description]" placeholder="decription"  type="text" class="form-control"  required><%=job.description%></textarea>
                </div>
                <div class="mb-3">
                    <label for="requirement" class="form-label"><b>Requirement:</b></label>
                    <textarea id="requirement" name="list[requirement]" placeholder="requirement"  type="number" class="form-control"  required><%=job.requirement%></textarea>
                </div>
                 <div class="mb-3">
                    <label for="openings" class="form-label"><b>Number of Opening:</b></label>
                    <input id="openings" name="list[openings]" placeholder="number of openings"  type="number" class="form-control" value="<%=job.openings%>"  required>
                </div>
                <button class="btn btn-success">Edit</button>
        </form>
    </div>

</div>